NODE_ENV=production
# Database connection
DATABASE_URL="mysql://checklist:5s2024@localhost:3306/checklist"
# NextAuth Configuration
NEXTAUTH_URL=http://wks-ti004.5stransportes.com.br
AUTH_SECRET="KnTdIVqfwV2XlZJ0vLI5CHlW5iCfobiuk7hcHEyIhYE="
NEXTAUTH_SECRET="KnTdIVqfwV2XlZJ0vLI5CHlW5iCfobiuk7hcHEyIhYE="
JWT_SECRET=KnTdIVqfwV2XlZJ0vLI5CHlW5iCfobiuk7hcHEyIhYE